@model IEnumerable<UniversityManagementSystemWebApp.Models.UserDefinedModels.Department>

@{
    ViewBag.Title = "Index";
}
    

<h2>View All Departments</h2>
<style>
    body {
        counter-reset: Serial NO;
    }

    table {
        width: 100%;
    }

    tr td:first-child:before {
        counter-increment: Serial; /*increment the serial counter*/
        content: counter(Serial); /*Display the Counter*/
    }

    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr, th, td {
        padding: 5px;
        text-align: center;
    }

    table tr:nth-child(even) {
        background-color: blanchedalmond;
    }

    table tr:nth-child(odd) {
        background-color: yellowgreen;
    }

    table th {
        background-color: black;
        color: white;
    }
</style>

<p>
    <button class="btn btn-default">
        @Html.ActionLink("Save Department", "Create")
    </button>
    
</p>

<table class="table">
    <tr>
        <th>
            Serial No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartmentId })
        </td>*@
    </tr>
}

</table>
